body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: darkolivegreen;
}

.main-container {
    margin-top: 1em;
    height: 880px;
    width: 880px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}

#sizeLabel {
    margin: 0 0 0.5em 0;
}